<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta http-equiv="expires" content="Tue, 20 Aug 1996 14:25:27 GMT" />
    <meta http-equiv="Pragma" content="no-cache">
    <title>Arbre</title>

    {% load static %}
    <script src='{% static "vis.js" %}'></script>
    <script type="text/javascript"  src='{% static "arbre.js" %}'"></script>
    <script src='{% static "googleAnalytics.js" %}'></script>
    <script src='{% static "jquery-3.1.1.min.js"%}'></script>

    <link rel="stylesheet" type="text/css" href='{% static "vis.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "vis-network.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "arbre.css" %}'>



</head>


<body onload="charge_arbre();">
    <h2>Mon arbre généalogique</h2>

    <h3>Cliquez sur l'élément 14 (soit Jeanne) pour aller à une autre page!</h3>

    <div id="mynetwork"></div>
    <pre id="eventSpan"></pre>

    <a id='bouton_ajout_membre' href="/add_membre_arbre">Ajouter un membre</a>


</body>


</html>