<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Arbre</title>

    {% load static %}
    <script src='{% static "vis.js" %}'></script>
    <script type="text/javascript"  src='{% static "arbre.js" %}'></script>
    <script src='{% static "googleAnalytics.js" %}'></script>
    <script src='{% static "jquery-3.1.1.min.js"%}'></script>

    <link rel="stylesheet" type="text/css" href='{% static "vis.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "vis-network.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "arbre.css" %}'>

</head>


<body onload="charge_arbre();">
    <h2>Mon arbre généalogique</h2>

    <h4>Veuillez vide le cache de votre navigateur pour voir la mise à jour!</h4> <br>

    <div id="mynetwork"></div>
    <pre id="eventSpan"></pre>

    <a id='bouton_ajout_membre' href="/add_membre_arbre">Ajouter un membre</a> <br>
    <a id='bouton_supp_membre' href="/supp_membre_arbre">Supprimer un membre</a><br/>

    <a href="{% url 'Menu' %}" class="waves-effect waves-light btn">Revenir à mon profil</a>

</body>


</html>