{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/materialize.min.css' %}" />

<script type="text/javascript" src="{% static 'Formulaires/Formulaires.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/materialize.min.js' %}"></script>

<!-- Icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>Ajout d'événements</title>
</head>
<body class="teal">

	<div id='histoire' class="pop_up">
		<h3>Vous voulez ajouter : </h3>
			<div class="ajout_event">
		 	<ul class="collapsible popout" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header teal lighten-2"><i class="material-icons">filter_drama</i>Une naissance</div>
			      <div class="collapsible-body teal lighten-5">
								<div class="row">
								<form method='post' action={% url 'Formulaires:Confirm_ajoutevent' %} class="col s12">
								    <div class="row">
								        <div class="input-field col s6">
								          <input id="prenom_naissance" name="prenom_naissance" type="text" class="validate">
								          <label>Prénom du nouveau-né</label>
								       	</div>
								        <div class="input-field col s6">
								          <input id="nom_naissance" name="nom_naissance" type="text" class="validate">
								          <label>Nom du nouveau-né</label>
								        </div>
								    </div>

								    <div class="box_type">
										<div class="enfants_box_type">
										<p>
									      <input id="masculin_naiss" name="genre_naissance" type="radio" value="Masculin"/>
									      <label for="masculin_naiss">Masculin</label>
									    </p>
									    </div>

									    <div class="enfants_box_type">
									    <p>
									      <input id="feminin_naiss" name="genre_naissance" type="radio" value="Féminin"/>
									      <label for="feminin_naiss">Féminin</label>
									    </p>
									    </div>
								    </div><br>

									<div class="input-field col s12">
										<label>Date de naissance</label><br><br>
										<div>
											<input id="date_naissance" name="date_naissance" type='date' required='required' class='datepicker'></input>
										</div>
									</div>
								    <div class="row">
								        <div class="input-field col s12">
								        </div>
								    </div>
								    <div class="row">
								        <div class="input-field col s12">
								          <input id="nom_mere" name="nom_mere" type="text" class="validate">
								          <label>Prénom de la mère</label>
								        </div>
								    </div>
								    <div class="row">
								        <div class="input-field col s12">
								            <input id="nom_pere" name="nom_pere" type="text" class="validate">
								            <label>Prénom du père</label>
								        </div>
								    </div>
								    <div class="row">
										<label>Commentaires </label>
										<textarea name='commentaire_naissance' id='commentaire_naissance'></textarea>
								    </div>

									<input type='hidden' name='verif' id='verif' value='naissance'></input>

									<button type='submit' id='btn' class='btn btn-primary'>Ajout de la naissance</button>

									<p style="font-size:10px">Ceci est un bonton provisoire qui nous amène sur la page comme si on avait établi les sessions. Ici on devrait rediriger vers le profil de l'utilisateur où on verra une frise chronologique.</p>
									<div><a href="{% url 'Formulaires:Menu' %}"><button style="font-size:10px" type='button' id='bouton' class='btn btn-primary'>Suivant</button></a></div>

								</form>
								</div>
			      </div>
			    </li>


			    <li>
			      <div class="collapsible-header teal lighten-2"><i class="material-icons">grade</i>Un mariage</div>
			      <div class="collapsible-body teal lighten-5">
								<div class="row">
								<form method='post' action="{% url 'Formulaires:Confirm_ajoutevent' %}" class="col s12">
									<div class="box-type">
								        <div class="input-field col s12">
											<label>Date du mariage</label><br><br>
											<div>
												<input id="date_mariage" name="date_mariage" type='date' required='required' class='datepicker'></input>
											</div>
										</div>
									</div>

									<div class="row">
								        <div class="input-field col s6">
								        	<input type='text' name='prenom_marie1' id='prenom_marie1' class="validate">
								        	<label>Prénom de la/du premier(ère) marié(e) </label>
								        </div>
								        <div class="input-field col s6">
								        	<input id="nom_naissance" name="prenom_marie2" type="text" class="validate">
								        	<label>Prénom de la/du deuxième marié(e) </label>
								        </div>
								    </div>

								    <div class="row">
										<label>Commentaires </label>
										<textarea name='commentaire_mariage' id='commentaire_mariage'></textarea>
								    </div>

									<input type='hidden' name='verif' id='verif' value='mariage'></input>

									<button type='submit' id='btn' class='btn btn-primary'>Ajout du mariage</button>

									<p style="font-size:10px">Ceci est un bonton provisoire qui nous amène sur la page comme si on avait établi les sessions. Ici on devrait rediriger vers le profil de l'utilisateur où on verra une frise chronologique.</p>
									<div><a href="{% url 'Formulaires:Menu' %}"><button style="font-size:10px" type='button' id='bouton' class='btn btn-primary'>Suivant</button></a></div>

								</form>
								</div>
			      </div>
			    </li>




			    <li>
			      <div class="collapsible-header teal lighten-2"><i class="material-icons">description</i>Un décès</div>
			      <div class="collapsible-body teal lighten-5">
			      				<div class="row">
					      		<form method='post' action="{% url 'Formulaires:Confirm_ajoutevent' %}" class="col s12">
					      			<div class="box-type">
								        <div class="input-field col s12">
											<label>Date du décès : </label><br/><br/>
											<div>
												<input type='date' name='date_deces' id='date_deces' required='required' class='datepicker'></input>
											</div>
										</div>
									</div>

									<div class="row">
								        <div class="input-field col s6">
								        	<input type='text' name='prenom_defunt' id='prenom_defunt' class="validate">
								        	<label>Prénom du défunt </label>
								        </div>
								        <div class="input-field col s6">
								        	<input type='text' name='nom_defunt' id='nom_defunt' class="validate">
								        	<label>Nom du défunt </label>
								        </div>
								    </div>

								     <div class="row">
										<label>Commentaires </label>
										<textarea name='commentaire_deces' id='commentaire_deces'></textarea>
								    </div>

									<input type='hidden' name='verif' id='verif' value='deces'></input>
			
									<button type='submit' id='btn' class='btn btn-primary'>Ajout du décès</button>
						
									<p style="font-size:10px">Ceci est un bonton provisoire qui nous amène sur la page comme si on avait établi les sessions. Ici on devrait rediriger vers le profil de l'utilisateur où on verra une frise chronologique.</p>
									<div><a href="{% url 'Formulaires:Menu' %}"><button style="font-size:10px" type='button' id='bouton' class='btn btn-primary'>Suivant</button></a></div>
								</form>
								</div>
				  </div>
				</li>

				<li>
			      <div class="collapsible-header teal lighten-2"><i class="material-icons">language</i>Un voyage</div>
			      <div class="collapsible-body teal lighten-5">
			      		<form method='post' action="{% url 'Formulaires:Confirm_ajoutevent' %}">
						<label>Lieu du voyage : <input type='nom' name='lieu_voyage' id='lieu_voyage'></label><br/>
						<label>Date de début du voyage : <input type='date' name='date_voyage_deb' id='date_voyage_deb'></label><br/>
						<label>Date de fin du voyage : <input type='date' name='date_voyage_fin' id='date_voyage_fin'></label><br/>
						<label>Commentaires : <textarea name='commentaire_voyage' id='commentaire_voyage'></textarea></label><br/>
						<input type='hidden' name='verif' id='verif' value='voyage'></input>
						<button type='submit' id='btn' class='btn btn-primary'>Ajout du voyage</button>
						</form>
						<p style="font-size:10px">Ceci est un bonton provisoire qui nous amène sur la page comme si on avait établi les sessions. Ici on devrait rediriger vers le profil de l'utilisateur où on verra une frise chronologique.</p>
						<div><a href="{% url 'Formulaires:Menu' %}"><button style="font-size:10px" type='button' id='bouton' class='btn btn-primary'>Suivant</button></a></div>
				  </div>
				</li>

				<li>
			      <div class="collapsible-header teal lighten-2"><i class="material-icons">work</i>Une immigration</div>
			      <div class="collapsible-body teal lighten-5">
			      		<form method='post' action="{% url 'Formulaires:Confirm_ajoutevent' %}">
						<label>Date de l'immigration : <input type='date' name='date_immigration' id='date_immigration'></label><br/>
						<label>Pays de départ : <input type='prenom' name='pays_depart' id='pays_depart'></label><br/>
						<label>Pays d'arrivé : <input type='nom' name='pays_arrive' id='pays_arrive'></label><br/>
						<label>Commentaires : <textarea name='commentaire_immigration' id='commentaire_immigration'></textarea></label><br/>
						<input type='hidden' name='verif' id='verif' value='immigration'></input>
						<button type='submit' id='btn' class='btn btn-primary'>Ajout de l'immigration</button>
						</form>
						<p style="font-size:10px">Ceci est un bonton provisoire qui nous amène sur la page comme si on avait établi les sessions. Ici on devrait rediriger vers le profil de l'utilisateur où on verra une frise chronologique.</p>
						<div><a href="{% url 'Formulaires:Menu' %}"><button style="font-size:10px" type='button' id='bouton' class='btn btn-primary'>Suivant</button></a></div>
				  </div>
				</li>

				<li>
			      <div class="collapsible-header teal lighten-2"><i class="material-icons">store</i>Un ville habitée</div>
			      <div class="collapsible-body teal lighten-5">
			      	<div class="row">
			      		<form method='post' action="{% url 'Formulaires:Confirm_ajoutevent' %}" class="col s12">
			      		
							<label>Ville habitée : <input type='text' name='ville_habitee' id='ville_habitee'></label><br/>
							<label>Date d'arrivée : <input type='date' name='date_arrive' id='date_arrive'></label><br/>
							
							<div class="box_type">
								<!--<label for='datedepart'>Date de départ : </label>-->
								<div class="enfants_box_type">
									<p>
										<input type="radio" id="encore_today" name="date_depart" value="J'y habite encore aujourd'hui" checked /> 
										<label for="encore_today">J'y habite encore aujourd'hui</label>
									</p>
								</div>

								<div class="enfants_box_type">
									<p>
								 		<input type="radio" id="parti" name="date_depart" value="Je suis parti le"/>
								 		<label for="parti">Je suis parti le </label>
								 		<!--<input type="date" name="date_depart"> -->
								 	</p>
								 </div>
							 </div>


							<label>Commentaires : <textarea name='commentaire_ville' id='commentaire_ville'></textarea></label><br/>
							<input type='hidden' name='verif' id='verif' value='ville'></input>
							<button type='submit' id='btn' class='btn btn-primary'>Ajout de la ville</button>
						
						</form>
						</div>
						<p style="font-size:10px">Ceci est un bonton provisoire qui nous amène sur la page comme si on avait établi les sessions. Ici on devrait rediriger vers le profil de l'utilisateur où on verra une frise chronologique.</p>
						<div><a href="{% url 'Formulaires:Menu' %}"><button style="font-size:10px" type='button' id='bouton' class='btn btn-primary'>Suivant</button></a></div>
				  </div>
				</li>
			</ul>
			</div>
	</div>


	<script>
		$(document).ready(function(){
	    $('.collapsible').collapsible();
	  	});

	  	$('#commentaire_naissance').val('');
  		$('#commentaire_naissance').trigger('autoresize');


		$('.datepicker').pickadate({
    	selectMonths: true, // Creates a dropdown to control month
    	selectYears: 15 // Creates a dropdown of 15 years to control year
  		});
     </script>
</body>
</html>