{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/materialize.min.css' %}" />

<script type="text/javascript" src="{% static 'Formulaires/Formulaires.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/materialize.min.js' %}"></script>

<!-- Icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>Ajout d'une famille</title>
</head>
<body class="teal">
	<div class="pop_up">
		<div>
			<h3>Vous êtes là parce que normalement, vous voulez créer une famille.</h3>
			<p>Pour créer une famille vous devez y mettre un nom, normalement le votre.</p>
			<p>Celui qui créé la famille est par défaut le modérateur de la famille, il peut de ce fait ajouter ou supprimer des membres. Les membres que vous ajoutez auront alors la possibilité de se connecter à cette famille eux-aussi.</p>
			Veuillez donc remplir le nom de votre famille ci-dessous.
		</div>
		<br/><br>

		<div class="row etire_form">
			<form class="col s12 " id="formu" role="form" method='post' action="{% url 'Form_famille' %}" >
			{% csrf_token %}
				<div class="row">
					<div class="input-field col s12">
			          {{ ajoutFamille.nom }}
			          {{ ajoutFamille.nom.label_tag }}
			        </div>

					<div><button type='submit' id='bouton' class='btn btn-primary'>Créer la famille</button></div>
				</div>
			</form>
			<div> <a href="{% url 'Menu' %}"><button type='submit' id='bouton' class='btn btn-primary'>Je ne veux pas créer de famille</button></a></div>
		</div>
		
	</div>
</body>
</html>