{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/materialize.min.css' %}" />

<script type="text/javascript" src="{% static 'Formulaires/Formulaires.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/materialize.min.js' %}"></script>

<!-- Icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>Ajout d'un membre à la famille</title>
</head>
<body class="teal">
	<div class="pop_up">
		<h3>Vous êtes là parce que vous voulez ajouter quelqu'un à votre famille.</h3>
		<form class="col s12" id="formu" role="form" method="post" action="{% url 'Menu' %}">
			{% csrf_token %}
			<div class="row">
				<div class="input-field col s6">
					{{ ajoutMembreForm.nom }}
					{{ ajoutMembreForm.nom.label_tag }}
				</div>

				<div class="input-field col s6">
					{{ ajoutMembreForm.prenom }}
					{{ ajoutMembreForm.prenom.label_tag }}
				</div>

				<div><button type='submit' id='btn' class='btn btn-primary'>Ajouter le membre</button></div>
			</div>
		</form>
		<div> <a href="{% url 'Menu' %}"><button type='submit' id='bouton' class='btn btn-primary'>Retour au menu</button></a></div>		
	</div>
</body>
</html>