{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/materialize.min.css' %}" />

<script type="text/javascript" src="{% static 'Formulaires/Formulaires.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/materialize.min.js' %}"></script>

<!-- Icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>Ajout d'événements</title>
</head>
<body class="teal">

	<div id='histoire' class="pop_up">
		<h3>Vous voulez ajouter : </h3>
		

		{{ fait_historique }}
		{{ famille }}

			<div class="ajout_event">
		 	<ul class="collapsible popout" data-collapsible="accordion">
			    <li>
			    	<div class="collapsible-header teal lighten-2">
			      		<i class="material-icons">filter_drama</i>Une naissance
			      	</div>
				    <div class="collapsible-body teal lighten-5">
						<div class="row">
							<form method='post' action="{% url 'Form_event' %}" class="col s12">
							{% csrf_token %}
						    <div class="row">
						    	<div class="box_type">
									<div class="enfants_box_type">
										<p>
							      		<input id="masculin" name="genre_enfant" type="radio" value="masculin"/>
							      		<label for="masculin">Masculin</label>
							    		</p>
							    	</div>

							    	<div class="enfants_box_type">
							    		<p>
							      		<input id="feminin" name="genre_enfant" type="radio" value="feminin"/>
							     	 	<label for="feminin">Féminin</label>
							    		</p>
							    	</div>
						    	</div><br>

						        <div class="input-field col s6">
						          {{ ajoutevent.prenom_enfant }}
						          {{ ajoutevent.prenom_enfant.label_tag }}
						       	</div>
						        <div class="input-field col s6">
						          {{ ajoutevent.nom_enfant }}
						          {{ ajoutevent.nom_enfant.label_tag }}
							    </div>

									   
								<div class="input-field col s12">
									{{ ajoutevent.date_naissance }}
							        {{ ajoutevent.date_naissance.label_tag }}
								</div>
							    <div class="row">
							        <div class="input-field col s12">
							        </div>
							    </div>
							    <div class="row">
							        <div class="input-field col s12">
							          {{ ajoutevent.prenom_mere }}
							          {{ ajoutevent.prenom_mere.label_tag }}
							        </div>
							    </div>
							    <div class="row">
							        <div class="input-field col s12">
							        	{{ ajoutevent.prenom_pere }}
							        	{{ ajoutevent.prenom_pere.label_tag }}
							        </div>
							    </div>
							    <div class="row">
							        {{ ajoutevent.commentaire.label_tag }}
									{{ ajoutevent.commentaire }}
							    </div>

							    <!--Permet de savoir de quel sorte d'évement il s'agit. 1 = naissance -->
								<input type='hidden' name='code' id='code' value='1'></input>
								<button type='submit' id='btn' class='btn btn-primary'>Ajout de la naissance</button>

							</form>
						</div>
			    	</div>
			    </li>

			    <li>
			    	<div class="collapsible-header teal lighten-2">
			    		<i class="material-icons">grade</i>Un mariage
			    	</div>
			    	<div class="collapsible-body teal lighten-5">
						<div class="row">
							<form method='post' action="{% url 'Form_event' %}" class="col s12">
							{% csrf_token %}
							<div class="box-type">
							    <div class="input-field col s12">
									{{ ajoutevent.date_mariage }}
							       	{{ ajoutevent.date_mariage.label_tag }}
								</div>
							</div>

							<div class="row">
							    <div class="input-field col s6">
							   		{{ ajoutevent.prenom_marie_1 }}
							   		{{ ajoutevent.prenom_marie_1.label_tag }}
							    </div>
								<div class="input-field col s6">
							   		{{ ajoutevent.prenom_marie_2 }}
							   		{{ ajoutevent.prenom_marie_2.label_tag }}
								</div>
							</div>
							<div class="row">
							    <div class="input-field col s12">
							        {{ ajoutevent.nom_famille }}
								   	{{ ajoutevent.nom_famille.label_tag }}
							    </div>
							</div>

							<div class="row">
							    {{ ajoutevent.commentaire.label_tag }}
								{{ ajoutevent.commentaire }}
							</div>

							<!--Permet de savoir de quel sorte d'évement il s'agit. 2 = mariage -->
							<input type='hidden' name='code' id='code' value='2'></input>

							<button type='submit' id='btn' class='btn btn-primary'>Ajout du mariage</button>

							</form>
						</div>
			      </div>
			    </li>

			    <li>
			    	<div class="collapsible-header teal lighten-2">
			      		<i class="material-icons">description</i>Un décès
			      	</div>
			      	<div class="collapsible-body teal lighten-5">
			      		<div class="row">
							<form method='post' action="{% url 'Form_event' %}" class="col s12">
							{% csrf_token %}
							<div class="box-type">
						        <div class="input-field col s12">
									{{ ajoutevent.date_deces }}
						        	{{ ajoutevent.date_deces.label_tag }}
								</div>
							</div>

							<div class="row">
						        <div class="input-field col s6">
						        	{{ ajoutevent.prenom_defunt }}
						        	{{ ajoutevent.prenom_defunt.label_tag }}
						        </div>
						        <div class="input-field col s6">
						        	{{ ajoutevent.nom_defunt }}
						        	{{ ajoutevent.nom_defunt.label_tag }}
						        </div>
						    </div>

						    <div class="row">
						        {{ ajoutevent.commentaire.label_tag }}
								{{ ajoutevent.commentaire }}
						    </div>

							<!--Permet de savoir de quel sorte d'évement il s'agit. 3 = décès -->
							<input type='hidden' name='code' id='code' value='3'></input>
							<button type='submit' id='btn' class='btn btn-primary'>Ajout du décès</button>
							</form>
						</div>
				  	</div>
				</li>

				<li>
			     	<div class="collapsible-header teal lighten-2">
			    		<i class="material-icons">language</i>Un voyage
			    	</div>
			      	<div class="collapsible-body teal lighten-5">
			      		<div class="row">
			      			<form method='post' action="{% url 'Form_event' %}" class="col s12">
			      			{% csrf_token %}
			      			<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.lieu_voyage }}
								    {{ ajoutevent.lieu_voyage.label_tag }}
								</div>
							</div>
							<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.date_debut }}
								    {{ ajoutevent.date_debut.label_tag }}
								</div>
							</div>
							<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.date_fin }}
								    {{ ajoutevent.date_fin.label_tag }}
								</div>
							</div>
							<div class="row">
							    {{ ajoutevent.commentaire.label_tag }}
								{{ ajoutevent.commentaire }}
							</div>

							<!--Permet de savoir de quel sorte d'évement il s'agit. 4 = voyage -->
							<input type='hidden' name='code' id='code' value='4'></input>
							<button type='submit' id='btn' class='btn btn-primary'>Ajout du voyage</button>
							</form>
						</div>
					</div>
				</li>

				<li>
			    	<div class="collapsible-header teal lighten-2">
			    		<i class="material-icons">work</i>Une immigration
			    	</div>
			     	<div class="collapsible-body teal lighten-5">
			      		<div class="row">
			      			<form method='post' action="{% url 'Form_event' %}" class="col s12">
			      			{% csrf_token %}
			      			<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.date_immig }}
								   	{{ ajoutevent.date_immig.label_tag }}
								</div>
							</div>

							<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.pays_depart }}
								   	{{ ajoutevent.pays_depart.label_tag }}
								</div>
							</div>

							<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.pays_arrive }}
								   	<label for="pays_arrive">Pays d'arrivé:</label>
								</div>
							</div>

							<div class="row">
								{{ ajoutevent.commentaire.label_tag }}
								{{ ajoutevent.commentaire }}
							</div>

							<!--Permet de savoir de quel sorte d'évement il s'agit. 5 = immigration -->
							<input type='hidden' name='code' id='code' value='5'></input>
							<button type='submit' id='btn' class='btn btn-primary'>Ajout de l'immigration</button>
							</form>
				 		</div>
				 	</div>
				</li>

				<li>
			    	<div class="collapsible-header teal lighten-2">
			    		<i class="material-icons">store</i>Un ville habitée
			    	</div>
			      	<div class="collapsible-body teal lighten-5">
			      		<div class="row">
			      			<form method='post' action="{% url 'Form_event' %}" class="col s12">
			      			{% csrf_token %}
			      			<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.ville }}
								   	{{ ajoutevent.ville.label_tag }}
								</div>
							</div>
							<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.date_arrive }}
								   	{{ ajoutevent.date_arrive.label_tag }}
								</div>
							</div>
							<div class="box-type">
								<div class="input-field col s12">
									{{ ajoutevent.date_depart }}
								   	{{ ajoutevent.date_depart.label_tag }}
								</div>
							</div>
							
							<div class="box_type">
								<!--<label for='datedepart'>Date de départ : </label>-->
								<div class="enfants_box_type">
									<p>
										<input type="radio" id="encore_today" name="date_depart" value="J'y habite encore aujourd'hui" checked /> 
										<label for="encore_today">J'y habite encore aujourd'hui</label>
									</p>
								</div>

								<div class="enfants_box_type">
									<p>
								 		<input type="radio" id="parti" name="date_depart" value="Je suis parti le"/>
								 		<label for="parti">Je suis parti le </label>
								 		<!--<input type="date" name="date_depart"> -->
								 	</p>
								 </div>
							 </div>


							<div class="row">
								{{ ajoutevent.commentaire.label_tag }}
								{{ ajoutevent.commentaire }}
							</div>
							<!--Permet de savoir de quel sorte d'évement il s'agit. 6 = ville habitée -->
							<input type='hidden' name='code' id='code' value='6'></input>
							<button type='submit' id='btn' class='btn btn-primary'>Ajout de la ville</button>
						
							</form>
				 		</div>
					</div>
				</li>
			</ul>
			<p style="font-size:10px">* Les dates doivent être sous forme YYYY-MM-DD</p>
			<div id="actualité"> 
				<a href="{% url 'Menu' %}" class="waves-effect waves-light btn">Revenir à mon profil</a>
			</div>
		</div>
	</div>


	<script>
		$(document).ready(function(){
	    $('.collapsible').collapsible();
	  	});

	  	$('#commentaire_naissance').val('');
  		$('#commentaire_naissance').trigger('autoresize');


		$('.datepicker').pickadate({
    	selectMonths: true, // Creates a dropdown to control month
    	selectYears: 15 // Creates a dropdown of 15 years to control year
  		});
    </script>
</body>
</html>