{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/materialize.min.css' %}" />

<script type="text/javascript" src="{% static 'Formulaires/Formulaires.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/materialize.min.js' %}"></script>

<!-- Icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
    <title>Mes aïeux</title>
</head>


<body class="cyan lighten-4">

<div  id="conteneur_site">


<!-- Menu de navigation -->
	<nav class="nav-extended teal lighten-2">
	    <div class="nav-wrapper">
	      <ul class="tabs tabs-transparent centre_moi aggrandir_nav">
	        <li class="tab aggrandir_nav"><a href="#box_profil"><i class="material-icons left centre_icons">perm_identity</i>{{ first_name }}</a></li>
	        <li class="tab aggrandir_nav"><a href="#box_fam"><i class="material-icons left centre_icons">loyalty</i>Famille(s)</a></li>
	        <li class="tab aggrandir_nav"><a class="active" href="#box_accueil">ACCUEIL</a></li>
	        <li class="tab aggrandir_nav"><a href="#box_discu"><i class="material-icons left centre_icons">forum</i>Discussions</a></li>
	        <li class="tab aggrandir_nav"><a href="#box_notif"><i class="material-icons left centre_icons">new_releases</i>Notifications</a></li>
	        <!-- Cette partie correspond au bouton 'deconnecter' en haut à gauche -->
			<li><a href="#modal1" class="btn-floating btn-large waves-effect waves-light teal lighten-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Me déconnecter"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>
	      </ul>
	    </div>
	</nav>



<!--Onglet pour le profil de la personne-->
	<div class="gros_conteneur">
		<div id="box_profil" class="col s12 gros_conteneur_central">
							<div class="box_type2">

							<!-- Image de profil -->
							      <div class="right cadre_image">
										<div class="image"></div>
							      </div>

							  <nav class="nav-extended teal lighten-1">
							    <div class="nav-wrapper">
							      <!--Soucis de css : 
							      <a href="#" class="brand-logo center wrap">
							 	 -->
							 	 Profil de {{ first_name }} {{ last_name }}
							 	 <!--</a>-->


							<!-- Cette partie correspond aux différents onglets 'Ma famille','Mes evenements',.. -->
							      <ul class="tabs tabs-transparent centre_moi">
							        <li class="tab"><a class="active" href="#albums">Albums et évènements</a></li>
							        <li class="tab"><a href="#modif_visi">Modifier visibilité</a></li>
							        <li class="tab"><a target="_blank" href="{% url 'modificationForm' %}">Modifier mon profil</a></li>
							      </ul>
							    </div>
							  </nav>

							  </div>

							  

							  <div id="albums" class="col s12">
									Ici on mettra les albums et évènements. Si la personne est propriétaire du document/publication il y aura un petit icon permettant de modifier la 
									visibilité de ce document/publication  (au vue du public, de la famille...)
							  </div>

							  <div id="modif_visi" class="col s12">
									Ici on mettra les modifications de la visibilité de toutes les publications de la personne
							  </div>

		</div>

<!-- Modal Structure | Cette partie correspond à la fenetre lorsqu'on appuie sur le bouton 'déconnecter' -->
							  <div id="modal1" class="modal">
							    <div class="modal-content">
							      <p>Êtes-vous sur que vous souhaitez vous déconnecter ?</p>
							    </div>
							    <div class="modal-footer">
							      <a href="{% url 'logout' %}" class=" modal-action modal-close waves-effect waves-green btn-flat">Oui, je veux me déconnecter.</a>
							      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Non, je veux rester.</a>
							    </div>
							  </div>

<!--Onglet pour la ou les famille(s)-->
		<div id="box_fam" class="col s12 gros_conteneur_central">
							<div id="list_fam"> 
						  		<div class="ajouts">
						  			<p align='center'>Mes familles</p>
						  			{% for i in list_famille %}
										<a href="#" class="waves-effect waves-light btn"> {{ i }}</a>
									{% endfor %}
						  			<a href="{% url 'Form_famille' %}" class="waves-effect waves-light btn">Créer une nouvelle famille</a>
						  		</div>
							  	<div class="actus teal">
							  		<div class="actus_fam">
							  			<a href="{% url 'Form_famille_ajoutmembre' %}" class="waves-effect waves-light btn teal lighten-3">Ajout membre</a>

							  			<a href="#" class="waves-effect waves-light btn teal lighten-3">Supprimer membre</a>


						  				<a href="#" class="waves-effect waves-light btn teal lighten-3">Modifications droits</a>
							  		</div>
								  	<p  class="teal lighten-4"> 
								  		Ici s'affichera l'arbre généalogique de la famille1 jusqu'à qu'on clique sur famille2.<br>
								  		S'il n'y a pas d'arbre:
							  			<a href="#" class="waves-effect waves-light btn">Créer un arbre généalogique</a>
							  		</p>
						  		</div>
						  	</div>
		</div>




<!--Onglet pour l'accueil-->
		<div id="box_accueil" class="col s12 gros_conteneur_central">
						<nav>
						    <div class="nav-wrapper teal lighten-2">
						      <form>
						        <div class="input-field">
						          <input id="search" type="search" required>
						          <label for="search"><i class="material-icons">search</i></label>
						          <i class="material-icons">close</i>
						        </div>
						      </form>
						    </div>
					  	</nav>

					  	<div id="rech_opts"> 
					  		<p>Vous recherchez: </p>
						  	<p>
						      <input type="checkbox" id="rech_pers" />
						      <label for="rech_pers">Une personne</label>
						    </p>
						    <p>
						      <input type="checkbox" id="rech_fam" />
						      <label for="rech_fam">Une famille</label>
						    </p>
						    <p>
						      <input type="checkbox" id="rech_page" />
						      <label for="rech_page">Des documents publics</label>
						    </p>
					  	</div>

					  	<div id="actualité"> 
					  		<div class="ajouts">
					  			<a href="{% url 'Form_event' %}" class="waves-effect waves-light btn">Ajouter un évènement</a>
					  			<a href="#" class="waves-effect waves-light btn">Ajouter une/des image(s)</a>
					  		</div>
						  	<div class="actus">
						  		<p  class="teal lighten-3"> Vous n'avez aucune actualité pour le moment! <br> Ajoutez un évènement ou suivez l'actualité d'une personne ou d'une page. </p>
					  		</div>
					  	</div>
		</div>




<!--Onglet pour les discussions-->
		<div id="box_discu" class="col s12 gros_conteneur_central">
					Ici on mettra les discussions
		</div>



<!--Onglet pour les notifications-->
		<div id="box_notif" class="col s12 gros_conteneur_central">
					Ici on mettra les notifications
		</div>



	</div>
        

    <!-- Scripts pour le framework Materialize -->    
	<script>
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
		//Ce script sert pour le tooltip, la petite fenetre noir lorsqu'on passe la souris sur le bouton "déconnecter" en haut à gauche
	  	$(document).ready(function(){
	    $('.tooltipped').tooltip({delay: 50});
	  	});
	  	// Script qui permet d'afficher le modal du bouton 'déconnecter' en haut à gauche
	  	$(document).ready(function(){
	    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	    $('.modal').modal();
	  	});
	</script>

</div>
</body>
</html>