{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/materialize.min.css' %}" />

<script type="text/javascript" src="{% static 'Formulaires/Formulaires.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/materialize.min.js' %}"></script>

<!-- Icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
    <title>Mes aïeux - visiteur</title>
	<!-- Icones -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body class="cyan lighten-4">
<div  id="conteneur_site">

<!-- Menu de navigation -->
	<nav class="nav-extended teal lighten-2">
	    <div class="nav-wrapper">
	      <ul class="tabs tabs-transparent centre_moi aggrandir_nav">
	        <li class="tab aggrandir_nav"><a class="active" href="#box_accueil">ACCUEIL</a></li>
	      </ul>
	    </div>
	</nav>

<!--Onglet pour l'accueil-->
	<div class="gros_conteneur">
		<div id="box_accueil" class="col s12 gros_conteneur_central">
			<nav>
			    <div class="nav-wrapper teal lighten-2">
				    <form method='post' action="{% url 'Menubis' %}"> <!--Début form-->
				    {% csrf_token %}
				    <div class="input-field col s6">
		            	<i class="material-icons prefix">search</i>
		                {{ recherche_form.search }}
		            </div>
				</div>			    
			</nav>

		  	<div id="rech_opts"> 
		  		<p>Vous recherchez: </p>
			  	<p>
					<input type="checkbox" name="rech_pers" id="rech_pers" value="rech_pers"/>
		    		<label for="rech_pers">Une personne</label>
				</p>
				<p>
				    <input type="checkbox" name="rech_fam" id="rech_fam" value="rech_fam"/>
				    <label for="rech_fam">Une famille</label>
				</p>
				<p>
				    <input type="checkbox" name="rech_doc" id="rech_page" value="rech_page"/>
				    <label for="rech_page">Des documents publics</label>
				</p>
				<button type='submit' id='btn' class='btn btn-primary'>Rechercher</button>
			</div>

				  	</form> <!--Fin form-->
        
			<div  id="conteneur_site">
				<p>Voici les résultats de la recherche :</p> 
				<!--Si l'utilisateur recherche une personne -->
				{% if rech_pers == 'rech_pers' %}	
					Personnes trouvées : <br/><br/>
					{% for i in res_pers %}
						Prénom : {{ i.prenom }}<br/>
						Nom : {{ i.nom }}<br/>
						Photo de profil : {{ i.photo }}<br/>
						Autres prénoms : {{ i.autres_prenoms }}<br/>
						Genre : {{ i.genre }}<br/>
						Date de naissance : {{ i.ddn }}<br/>
						Email : {{ i.email }}<br/>
						Adresse postale : {{ i.adresse }}<br/>
						Profession : {{ i.profession }}<br/>
						Nationalité : {{ i.nationalite }}<br/>
						Description : {{ i.description }}<br/>
					{% endfor %}
				{% endif %}
				<!--Si l'utilisateur recherche une famille -->
				{% if rech_fam == 'rech_fam' %}	
					Familles trouvées : <br/><br/>
					{% for i in res_fam %}
						Nom de la famille : {{ i.nom }}<br/>
						Nombre de membre : {{ i.nb_personnes}}<br/>
					{% endfor %}
				{% endif %}
				<!--Si l'utilisateur recherche une page -->
				<!--
				{% if rech_page == 'rech_page' %}	
					Pages trouvées : <br/><br/>
					{% for i in res_page %}
						Nom de la famille : {{ i.nom }}<br/>
						Nombre de membre : {{ i.nb_personnes}}<br/>
					{% endfor %}
				{% endif %}
				-->
				
			</div>
			<div align="center"><a href="{% url 'accueilForm' %}" class="waves-effect waves-light btn">Revenir à l'accueil</a></div>
		</div>
	</div>



    <!-- Scripts pour le framework Materialize -->    
	<script>
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
		//Ce script sert pour le tooltip, la petite fenetre noir lorsqu'on passe la souris sur le bouton "déconnecter" en haut à gauche
	  	$(document).ready(function(){
	    $('.tooltipped').tooltip({delay: 50});
	  	});
	  	// Script qui permet d'afficher le modal du bouton 'déconnecter' en haut à gauche
	  	$(document).ready(function(){
	    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	    $('.modal').modal();
	  	});
	</script>

</div>
</body>
</html>