{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/materialize.min.css' %}" />

<script type="text/javascript" src="{% static 'Formulaires/Formulaires.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/materialize.min.js' %}"></script>

<!-- Icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!DOCTYPE html>

<html>
  <head>
    <title>Formulaire de modification</title>
  </head>

  <body class="cyan darken-2">
    <div id="box_global">
    <div class="pop_up">    
        <div id='modif'>
        <div class="enfants_box">
        <h1>Modificiation des informations du profil</h1>
            <form class="form-horizontal" id="formu" role="form" method="post" action="{% url 'modificationForm' %}">
                {% csrf_token %}
                    <!--<div id='img'>
                        <label><b><input type='image' id='img_modif' src='../Images/profil_chat.jpg' width='200' height='auto'></label>
                    </div>
                    <button type='submit' class='btn btn-primary'>Changer la photo</button><br/><br/>-->

                    <img id='img'><script type="text/javascript"> affich_img </script></img>
                   
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Changer la photo de profil</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="img_modif" class="file-path validate" type="text">
                        </div>
                    </div>

                    {% if user.genre == 'masculin' %}
                        <div class="box_type">
                            <div class="enfants_box_type">
                                <p>
                                    <input id="masculin" name="genre" type="radio" value="masculin" checked="checked"/>
                                    <label for="masculin">Masculin</label>
                                </p>
                            </div>

                            <div class="enfants_box_type">
                                <p>
                                    <input id="feminin" name="genre" type="radio" value="feminin"/>
                                    <label for="feminin">Féminin</label>
                                </p>
                            </div>
                        </div><br>
                    {% else %}
                        <div class="box_type">
                            <div class="enfants_box_type">
                                <p>
                                    <input id="masculin" name="genre" type="radio" value="masculin"/>
                                    <label for="masculin">Masculin</label>
                                </p>
                            </div>

                            <div class="enfants_box_type">
                                <p>
                                    <input id="feminin" name="genre" type="radio" value="feminin" checked="checked"/>
                                    <label for="feminin">Féminin</label>
                                </p>
                            </div>
                        </div><br>
                    {% endif %}


                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        {{ FormModif.nom.label_tag }}<br/><br/>
                        <input id="nom" name="nom" value="{{ user.nom }}"/>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        {{ FormModif.prenom.label_tag }}<br/><br/>
                        <input id="prenom" name="prenom" value="{{ user.prenom }}"/>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ FormModif.autre_prenoms.label_tag }}<br/><br/>
                        <input id="autre_prenoms" name="autre_prenoms" value="{{ user.autre_prenoms }}"/>
                    </div>

                    <div class="input-field col s12">
                        <div>
                            <i class="material-icons prefix">perm_contact_calendar</i>
                            {{ FormModif.ddn.label_tag }}<br/><br/>
                            <input id="ddn" name="ddn" value="{{ user.ddn }}"/>
                        </div>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        {{ FormModif.email.label_tag }}<br/><br/>
                        <input id="email" name="email" value="{{ user.email }}"/>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        {{ FormModif.adresse.label_tag }}<br/><br/>
                        <input id="adresse" name="adresse" value="{{ user.adresse }}"/>
                    </div>


                    <div class="input-field col s12">
                        <i class="material-icons prefix">verified_user</i>
                        {{ FormModif.mdp }}
                        {{ FormModif.mdp.label_tag }}
                    </div>

                    <div class="input-field col s12">
                        <div>
                            <i class="material-icons prefix">account_circle</i>
                            {{ FormModif.profession.label_tag }}<br/><br/>
                        <input id="profession" name="profession" value="{{ user.profession }}"/>
                        </div>
                    </div>

                    <div>
                        <div>
                            <i class="material-icons prefix">account_circle</i>
                            {{ FormModif.description.label_tag }}<br/><br/>
                        <input id="description" name="description" value="{{ user.description }}"/>
                        </div>
                    </div>

                    <input type='hidden' name='verif' id='verif' value='modif'></input><br/>
            <div><button type='submit' id='bouton' class='btn btn-primary'>Modifier</button></div>
            </form>
            <a href="{% url 'Menu' %}" class="waves-effect waves-light btn">Revenir à mon profil</a>
        </div>
        </div>
    </div>
</div>
</body>
</html>