{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Formulaires/materialize.min.css' %}" />

<script type="text/javascript" src="{% static 'Formulaires/Formulaires.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Formulaires/materialize.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
    $('select').material_select();
  });

</script>

<!-- Icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!--<link rel="stylesheet" href="../css/accueil.css" />-->
	<meta name="viewport" content="width=device-width">
	<title>Rejoindre une famille</title>
</head>
<body class="teal">
	<div class="pop_up">
		<div>
			<h3>Vous êtes là parce que nous avons trouver une ou plusieurs famille qui correspondaient à votre nom.</h3>
			<p>Vous devez choisir entre en rejoindre une et en créer une nouvelle.<p>
			<p>Si vous choisissez d'en créer une nouvelle, vous serez redirigé vers la page de création</p>
			Veuillez donc faire votre choix.
		</div>
		<br/><br>
		<!--Il faudra vérifier si le nom de la famille existe dans la BDD. Si oui, on lui demandera si il ne veut pas plutôt rejoindre cette famille. Si non, on la créé quand même.-->

		<div class="row etire_form">
			<form class="col s12 " method='post' id="formu" role="form" action="{% url 'Rejoindre_famille' %}" >
			{% csrf_token %}
				<div class="row">
					<div class="input-field col s12">
						<select name="ajout" id="ajout">
							{% for fam in famille %}
							<option value="{{ fam.pk }}">{{ fam }}</option>
							{% endfor %}
						</select>
					</div>

			        <div><button type='submit' id='bouton' class='btn btn-primary'>Rejoindre la famille</button></div>
				</div>
			</form>

			<div><a href="{% url 'Form_famille' %}"><button type="button" id='bouton' class='btn btn-primary'>Créer une nouvelle famille</button></a></div>
			
		</div>	
	</div>
</body>
</html>