<html>
  <head>
    <title>Formulaire d'inscription</title>
  </head>
  <body>
    <div id="inscription">
      <form class="form-horizontal" id="formu" role="form" method="post" action="{% url 'Formulaires:Felicitations' %}">
        {% csrf_token %}
        <fieldset>
          <legend>Inscription</legend>
            {{ form.nom.label_tag }}
            {{ form.nom }}
            {{ form.nom.errors }}
            <br/>
            <br/>
            {{ form.prenom.label_tag }}
            {{ form.prenom }}
            {{ form.prenom.errors }}
            <br/>
            <br/>
            {{ form.genre.label_tag }}
            {{ form.genre }}
            {{ form.genre.errors}}
            <br/>
            {{ form.ddn.label_tag }}
            {{ form.ddn }}
            {{ form.ddn.errors}}
            <br/>
            <br/>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors}}
            <br/>
            <br/>
            {{ form.mdp.label_tag }}
            {{ form.mdp }}
            {{ form.mdp.errors}}
            <br/>
            <br/>
            <div><button type="submit" id="bouton" class="btn btn-primary">Valider</button></div>
        </fieldset>
      </form>
    </div>

  </body>
</html>